<div class="example-container mat-elevation-z8">
  <mat-table #table class="lessons-table mat-elevation-z8"  [dataSource]="dataSource">

    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let stockPrice"> {{stockPrice.symbol}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let stockPrice"> {{stockPrice.price | number : '1.2-2'}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="trend">
      <mat-header-cell *matHeaderCellDef> Trend </mat-header-cell>
      <mat-cell *matCellDef="let stockPrice"> {{stockPrice.trend}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
